////////////
// mixins //
////////////
@mixin _transition($property, $duration, $type) {
  -webkit-transition: $property $duration $type;
  -moz-transition: $property $duration $type;
  -o-transition: $property $duration $type;
  transition: $property $duration $type;
}

// box shadows regardless of the $enable-shadows flag
@mixin _box-shadow($shadow...) {
  box-shadow: $shadow;
}

///////////////////////
// debugging classes //
///////////////////////
.debug-border-red {
  border: 1px solid indianred;
}

.debug-border-green {
  border: 1px solid darkolivegreen;
}

.debug-border-blue {
  border: 1px solid dodgerblue;
}

@function rgba-to-rgb($rgba, $background: #fff) {
  @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%)
}
