@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants dark {
        .img-invert {
            filter: brightness(0.85) invert(1);
        }
    }
}

/* Typograhpy
---------------------------------------------------------------------------- */
h1 {
    @apply text-4xl mb-5;
}
h1 > .headline-info {
    @apply text-gray-600 text-3xl;
}

h2 {
    @apply text-3xl mt-3 mb-2;
}
h2 > .headline-info {
    @apply text-gray-600 text-2xl;
}

h3 {
    @apply text-2xl mt-3 mb-2;
}

.text-muted {
    @apply text-gray-600 dark:text-gray-500;
}

.link {
    @apply cursor-pointer text-blue-600 dark:text-blue-400;
}
.link:hover {
    @apply underline;
}

/* Forms & input
---------------------------------------------------------------------------- */
.has-error {
    @apply border-red-600;
}
.invalid-feedback {
    @apply text-red-600 text-xs mt-1;
}

.label-required:after {
    @apply text-gray-600;

    content: ' *';
}

/* Breadcrumbs
---------------------------------------------------------------------------- */
.breadcrumb {
    @apply bg-gray-200 bg-opacity-50 my-4 py-2 px-4 rounded dark:bg-gray-800;
}
.breadcrumb-item {
    @apply inline-block text-gray-600 dark:text-gray-500;
}
.breadcrumb-item:not(:first-child):before {
    @apply text-gray-400 pr-1;

    content: '/';
}
.breadcrumb-item > a {
    @apply cursor-pointer text-blue-600 dark:text-blue-400;
}
.breadcrumb-item > a:hover {
    @apply underline;
}

/* Tables
---------------------------------------------------------------------------- */
.table {
    @apply w-full text-left;
}
.table tbody {
    @apply divide-y divide-solid divide-gray-200 dark:divide-gray-700;
}
.table thead th {
    @apply bg-gray-100 font-bold text-xs text-gray-800 uppercase border-b-2 border-gray-200 tracking-wide align-middle p-3 dark:bg-gray-700 dark:border-gray-800 dark:text-gray-300;
}
.table thead th:first-child {
    @apply rounded-tl-lg;
}
.table thead th:last-child {
    @apply rounded-tr-lg;
}
.table:not(.table-sm) th {
    @apply py-3 px-3;
}
.table td {
    @apply align-middle py-4 px-3;
}
.table:not(.table-sm) td {
    @apply py-4 px-3;
}
.table-striped tr:nth-child(odd) {
    @apply bg-gray-50 dark:bg-gray-800 bg-opacity-75;
}
.table-hover tr:hover {
    @apply bg-gray-50 transition-colors duration-150 ease-out dark:bg-gray-900 dark:bg-opacity-50;
}
.table-striped tr:hover {
    @apply bg-gray-100 dark:bg-black dark:bg-opacity-50;
}
.table-sm th {
    @apply py-2 px-3;
}
.table-sm td {
    @apply py-1 px-3;
}

/* Alerts
---------------------------------------------------------------------------- */
.alert {
    @apply my-4 p-4 border-l-4 sm:rounded break-words;
}
.alert-info {
    @apply bg-blue-100 text-blue-800 border-blue-400 dark:bg-blue-900 dark:border-blue-700 dark:text-blue-500;
}
.alert-success {
    @apply bg-green-100 text-green-800 border-green-400 dark:bg-green-900 dark:border-green-700 dark:text-green-500;
}
.alert-warning {
    @apply bg-yellow-100 text-yellow-800 border-yellow-400 dark:bg-yellow-900 dark:border-yellow-700 dark:text-yellow-500;
}
.alert-danger {
    @apply bg-red-100 text-red-800 border-red-400 dark:bg-red-900 dark:border-red-700 dark:text-red-500;
}

/* Alpine.js
---------------------------------------------------------------------------- */
[x-cloak] {
    display: none !important;
}

/* Charts
---------------------------------------------------------------------------- */
.line-horizontal {

}
.line-vertical {
    @apply hidden;
}
